<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://img.olhardigital.com.br/uploads/acervo_imagens/2018/12/20181218065336.jpg" />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake street, 111</p>
      <p>Complement: Ap 111</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip code: 1234567</p>
      <p>city name - State7</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">
    Create pickup call
  </ion-button>
</ion-content>
